[Unit]
Description=Valheim Monitor Service
After=network.target
Requires=valheim.service

[Service]
Type=simple
ExecStart=/usr/local/bin/valheim_monitor.py
Restart=on-failure
User=ssh_username  # Replace with your Valheim server SSH username
#RestartSec=30s  # Prevent frequent restarts by adding a 30-second delay
#ExecStartPre=/bin/sleep 20  # Add a delay before starting to ensure dependencies are ready

[Install]
WantedBy=multi-user.target